.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100wh;
}

.title {
  text-align: center;
  color: #224229;
  font-family: "Libre Baskerville";
  font-size: 50px;
  font-weight: bolder;
  margin-top: 40px;
  margin-bottom: 40px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Baskerville';
    width: 888px;
}

.paragraphs {    
    background-color: #E1E8BA;
    color: #224229;
    font-size: 40px;   
    width: 1000px;
    border-radius: 10px;
}
.paragraphs:hover {
  box-shadow: 0 12px 10px 0 #66a673, 0 17px 20px 0 #437c50;
}

@keyframes slideIn {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

.questions {
    text-decoration: underline;
    cursor: pointer;
}

.answers{
   overflow: hidden;
    animation-name: slideIn;
    max-height: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  font-size: 32px;   
}

.blankspace{
    height: 20px;
}

.socialNetworks {
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 34px;
  margin: 80px 0;
}

.facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    background-color: #224229;
    width: 270px;
    height: 80px;
    cursor: pointer;
    border-radius: 10px;
}

.instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    background-color: #224229;
    width: 270px;
    height: 80px;
    cursor: pointer;  
    border-radius: 10px;
}

.icons {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
