.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100wh;

}

.title{
    text-align: center;
    color: #224229;
    font-family: 'Libre Baskerville';
    font-size: 80px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-family: 'Baskerville';  
    width: 888px;
}

.blankspace{
    height:20px;
}

.paragraphs {
    background-color: #E1E8BA;
    width: 1000px;
    border-radius: 10px;

}

@keyframes slideIn {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
  }

  .questions{
    color: #224229;
    text-decoration: underline;
    cursor: pointer;
    font-size: 40px;
  }

.answers{
    font-size: 32px;
    overflow: hidden;
    animation-name: slideIn;
    max-height: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.socialNetworks{
    display: flex;        
    justify-content: space-between;   
    width: 80%;
    font-size: 34px;
    margin: 80px 0;
}

.facebook{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FFFFFF;
    background-color: #224229;
    width: 270px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;   
     
}

.instagram{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    background-color: #224229;
    width: 270px;
    height: 80px;
    border-radius: 10px;
    cursor: pointer;  
  
}

.icons{
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.footer{
    display: flex;    
    align-items: center;
    justify-content: center;
    background-color: blue;
}