.cardContainer {
  display: flex;
  max-width: 1400px;
  flex-wrap: wrap;
  margin: 50px auto;
  gap: 50px;
  justify-content: center;
}

.card {
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px 50px;
  border-radius: 30px;
  box-shadow: 5px 5px 15px 5px rgba(173, 173, 173, 0.58);
}

.img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.title {
  color: #224229;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  justify-content: center;
}

.containerTitle {
  margin-top: 100px;
  padding: 30px;
}
.sousTitle {
  color: #224229;
  font-family: "Poppins";
  background-color: rgba(225, 232, 186, 0.95);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
}

.imageStyle {
  height: 250px;
}

.section {
  display: flex;
  margin: 40px auto;
  max-width: 1000px;
  margin-top: 40px;
}

.textSection {
  text-align: left;
}

.materiel {
  font-weight: bold;
}

.list {
  font-style: italic;
}
.button {
  background-color: #224229;
  font-size: 11px;
  font-family: "poppins";
  color: white;
  margin: 45px, 0px, 0px;
  padding: 10px 30px;
  align-self: flex-end;
}
.desc {
  text-align: justify;
  text-align: center;
}
