.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(242, 252, 239);
}
.title{
    text-align: center;
    color: #224229;
    font-family: 'Libre Baskerville';
    font-size: 40px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
}

.questions {
    background-color: #E1E8BA;
    border-radius: 10px;
    text-align: start;
    width: 1000px;
    white-space: wrap;
    font-size: 40;
    font-family: 'Poppins';
    color: #224229;
    cursor: pointer;
    padding-left: 10px;
    text-decoration: underline;

}

.questions:hover{
    box-shadow: 5px 5px 4px #b7bab7;
}

@keyframes slideIn {
    from {
        max-height: 0;
    }
    to {
        max-height: 500px;
    }
  }

  .answers{
    /* background-color: #E1E8BA; */
    overflow: hidden;
    animation-name: slideIn;
    max-height: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  padding-right: 20px;
  padding-left: 10px;
}

.blankspace{
    height:30px;
}

.input{
    background-color: #E1E8BA;
    border-radius: 15px;
    text-align: center;
    height: 30px;
    width: 200px;
    font-size: 30px;
}

.button{
    background-color: #E1E8BA;
    border-radius: 12px;
    height: 60px;
    font-size: 30px;
    font-family: 'Poppins';
    color: #224229;
}


.image{
    margin-bottom: 30px;
    
}