.full{
    display: flex;
    justify-content: center;
}


.back{
    background-image: url("https://res.cloudinary.com/dt30jr39q/image/upload/v1702477898/c72wmnrtuvggibkffho5.jpg");
    background-size: cover;
    margin-top: 0;
}

.topContainer{
    flex:1;
max-width:1100px;

}

.seedling{
    color: #E1E8BA;
}

.title {
    color:#E1E8BA;
    padding:20px;
    margin-top: 24px;
    margin-bottom: 0;
    font-family: baskervville;
    font-size: 60px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    
}

.date{
    display: flex;
    justify-content: center ;
    flex-direction: column;
}

.recherche{
    background-color:#E1E8BA;
    color: #224229;
    font-size: large;
    font-weight: 600;
    border-color: #224229;
}


.recherche:hover{
    box-shadow: 0 12px 10px 0 #66a673, 0 17px 20px 0 #437c50;
}

.textbox{
   color: #224229; 
   padding: 5px 20px;
   margin-top: 10px;
   border-color: #224229;
}

.categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 8%;
    color: #E1E8BA;
    font-size: larger;
    font-weight: 700;
}

.publier{
    display: flex;
    justify-content: flex-end;
    margin-left: 30px;
    color: #224229;
}

.pubbtn{
    background-color:#E1E8BA;
    color: #224229;
    font-size: large;
    font-weight: 600;
    border-color: #224229;
}

.pubbtn:hover{
    box-shadow: 0 12px 10px 0 #66a673, 0 17px 20px 0 #437c50;
}


.bottom{
    background-color: #E1E8BA;
    opacity: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    padding: 20px;
    margin-top: 10px;
}
.box{
  font-style: oblique;
  
}

.nav{
    color: #224229;
}

.btnn{
    background-color: #224229;
    color: #E1E8BA;
    margin-top: 10px;
}

.btnn:hover {
    box-shadow: 0 12px 10px 0 #66a673, 0 17px 20px 0 #437c50;
  }

.foot{
    padding: 50px;
}

