.title{
    color: #224229;
    padding:20px;
    margin-top: 24px;
    margin-bottom: 0;
    font-family: baskervville;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    
}

.image{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    gap: 60px;
    color: #224229;
    text-align: center;
    font-weight: 700;
    overflow: auto;
    background-color: #E1E8BA;
    padding-top: 25px;
    padding-bottom: 20px;
}


.pic{
    border-radius: 30px;
    
}

.fruits{
    color: #224229;
    font-weight: 500;
    margin-left: 30px;
    font-size:x-large;
    margin-bottom: 20px;
}

.fruitContainer{
    margin: auto;
}

.fruitContainer2{
   
    margin-top: 80px;
    
}