.title{
    color: #224229;
    padding:50px;
    margin-top: 24px;
    font-family: baskervville;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
   
}

.image{
    max-width: 1300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 5px;
    gap: 60px;
    color: #224229;
    text-align: center;
    font-weight: 700;
    overflow: auto;
    background-color: #E1E8BA;
    padding-top: 25px;
    padding-bottom: 20px;
    text-decoration: underline;
}


.pic{
    border-radius: 30px;
    box-shadow: 5px 5px 4px #b7bab7;
    margin-bottom: 10px;
}






.fruitContainer{
   display: flex;
   justify-content: center;
    padding-left: 20px;
}

.fruitContainer2{
    margin-top: 80px;
    padding-left: 5px;
    display: flex;
   justify-content: center;
  
    
}
.fruitContainer3{
    margin-top: 80px;
    padding-left: 5px;
    display: flex;
   justify-content: center;
   flex-direction: row-reverse;
}