.title {
  color: #224229;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
  height: 60px;
  margin: 20px auto;
  justify-content: center;
}

.containerTitle {
  margin-top: 100px;
  padding: 30px;
}
