.title {
  /* z-index: 1; */
  color: #224229;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 100px;
  height: 60px;
  margin: 20px auto;
  justify-content: center;
}

.containerTitle {
  margin-top: 50px;
  padding: 50px;
  /* position: relative; */
}

.sousTitle {
  margin-top: 0;
  color: #224229;
  font-family: "Poppins";
  background-color: rgba(225, 232, 186, 0.95);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: inline-block;
  align-items: center;
}

.imageStyle {
  height: 250px;
  padding: 20px;
}
.imageTutos {
  opacity: 0.6;
  width: 100%;
  height: 200px;
  object-fit: cover;
  background-position: center;
  size-adjust: auto;
}

.section {
  display: flex;
  margin: 40px auto;
  max-width: 1000px;
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;
}

.textSection {
  text-align: justify;
  /* display: flex; */
  max-width: 1400px;
  /* flex-wrap: wrap; */
  margin-left: 300px;
  margin-right: 300px;
  gap: 50px;
  justify-content: center;
}

.materiel {
  font-weight: bold;
}

.list {
  font-style: italic;
  margin-bottom: 20px;
}
.button {
  background-color: 224229;
  font-size: poppin;
  color: white;
  margin: 45px, 0px, 0px;
  padding: 0px, 30px;
}
